<div id="logo">

<%- # <%= image_tag("T2LogoWhite.png")%>

</div>

<div id="header">


<ul>
  <li><a href="/home">Home</a></li> <!--   class="active"    -->

  <li class="dropdown">
    <a href="javascript:void(0)", class="dropbtn">Workouts &caron;</a>
    <div class="dropdown-content">
      <a href="/chest">Chest</a>
      <a href="/back">Back</a>
      <a href="/arms">Arms</a>
	  <a href="/shoulders">Shoulders</a>
	  <a href="/legs">Legs</a>
    </div>
  </li>

  <%- # <li><a href="/wall">Frågor</a></li> -%>
  <li><a href="/about">About</a></li>
</ul>

</div>