<div id="logo">

<%= image_tag("ggLogoGray.png", width: 100)%>

</div>

<div id="header">


<ul>
  <li><a href="/homeEng">Home</a></li> <!--   class="active"    -->

  <li class="dropdown">
    <a href="javascript:void(0)", class="dropbtn">Workouts &caron;</a>
    <div class="dropdown-content">
      <a href="/chestEng">Chest</a>
      <a href="/backEng">Back</a>
      <a href="/armsEng">Arms</a>
	  <a href="/shouldersEng">Shoulders</a>
	  <a href="/legsEng">Legs</a>
    </div>
  </li>

  <%- # <li><a href="/wall">Frågor</a></li> -%>
  <li><a href="/aboutEng">About</a></li>
</ul>

</div>