
<div id="postflow", align="center">
	<br>
	<br>
	<h2>About this website!</h2>

	

		<%= image_tag("profpic.jpg", width: 300) %>

		<br>
		<br>
		<p> This page was made by me aka Filip Pennsäter. <br>
		I have always had a burning interest in training and I've experienced both progress and setbacks. <br>
		So I have chosen to share my experience and compiled a well-functioning training schedule. <br>
		It has worked for me and probably will work for you to. <br>
		However, it is not 100% perfect and even I make monthly changes after my own taste. <br>
		Keep in mind not to press too hard, damages and inefficient sets will just keep you back even more. <br>
		While exercising go as heavy as you can while still being able to control the weight perfectly, don't let the weight control you! <br>
		Wish you get some awesome workouts done and get good results!</p>

	</div>

</div>
