<div id="postflow">

	<h1>Arms</h1>
	<center><p2>Important:</p2>
	<p>All the sets where the number of repetitions are not mentioned are 8-9!</center>

	<div id="workoutsFlowText">

		<div id="textBoxes">
			<h3>Biceps</h3>
			<h3>Barbell curl (standing):</h3>
			Increase slowly with 3 sets as warm-up, then try to go 3 sets as high as you can. After that, go lighter for 1 last set.
		</div>

		<div id="textBoxes">
			<h3>Alternate dumbbell curl:</h3>
			3-4 sets with a fairly high weight.
		</div>

		<div id="textBoxes">
			<h3>Hammer curl:</h3>
			3-4 sets with a fairly high weight.
		</div>


		<div id="textBoxes">
			<h3>Triceps</h3>
			<h3>Rope, Push down:</h3>
			3-4 sets with a fairly high-really high weight.
		</div>

		<div id="textBoxes">
			<h3>Rope, tricep extension (over your head):</h3>
			3-4 sets with a fairly high weight. (fast forward to 5:20)
		</div>

		<div id="textBoxes">
			<h3>One-armed triceps push down:</h3>
			3-4 sets with a fairly high weight.
			<h3>Done!</h3></p>
		</div>

	</div>



	<div id="workoutsFlowVideo">
		<br>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/kwG2ipFRgfo" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/8d2we4UqOSs" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/TwD-YGVP4Bk" frameborder="0" allowfullscreen></iframe>

		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/vB5OHsJ3EME" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/bEDusgF5SGQ" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/Zl46Cxc4DDs" frameborder="0" allowfullscreen></iframe>
	</div>

</div>