<div id="postflow">

	<h1>Back</h1>
	<center><p2>Important:</p2>
	<p>All the sets where the number of repetitions are not mentioned are 8-9!</center>

	<div id="workoutsFlowText">

		<div id="textBoxes">
			<h3>Warm-up:</h3>
			Rowing machine, medium high for 5 min.
		</div>
	

		<div id="textBoxes">
			<h3>Lat pulldown:</h3>
			Increase slowly with 3 sets as warm-up, then try to go 3 sets as high as you can. After that, go lighter for 1 last set. (fast forward to 0:50)
		</div>


		<div id="textBoxes">
			<h3>Neutral grip lat pulldown:</h3>
			3-4 sets with a fairly high weight, both wide and narrow handles work (lean slightly backwards and pull in your elbows, fast forward to 2:50).
		</div>

		<div id="textBoxes">
			<h3>Seated low row:</h3>
			3-4 sets with a fairly high weight. (fast forward to 0:40)
		</div>

		<div id="textBoxes">
			<h3>Trap bar deadlift:</h3>
			3-4 set. <br> If this exercise isn't avalible at your gym, do regular "deadlifts", you can just google it. (fast forward to 1:10)
		</div>

		<div id="textBoxes">
			<h3>Back extensions:</h3>
			3 set.
			<h3>Done!</h3></p>
		</div>

	</div>

	<div id="workoutsFlowVideo">
		<br>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/GrWEZbhpkoA" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/CAwf7n6Luuc" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/ImATh1ZTffc" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/GZbfZ033f74" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/WzvsIU9FW60" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/vx0jZBEmZcE" frameborder="0" allowfullscreen></iframe>
	</div>

</div>