<div id="postflow">

	<h1>Chest</h1>
	<center><p2>Important:</p2>
	<p>All the sets where the number of repetitions are not mentioned are 8-9!</center>

	<div id="workoutsFlowText">

		<div id="textBoxes">
			<h3>Warm-up:</h3>
			Crosstrainer medium-high 5 min + shoulderflys with light weights for 2 sets and around 12-20 repetitions each. <br>
		</div>
	

		<div id="textBoxes">
			<h3>Dumbell press:</h3>
			Increase slowly with 3 sets as warm-up, then try to take 3 sets as high as you can (with good form) and lastly one more set with around 60% of your max and do as many as you can.
		</div>


		<div id="textBoxes">
			<h3>Incline-press:</h3>
			3 sets with a medium heavy weight (easy to injure if you press too hard, adjust for your shoulders).
		</div>

		<div id="textBoxes">
			<h3>Decline press machine:</h3>
			3 sets with high weight (note that it should feel as you push down during the exercise).
		</div>

		<div id="textBoxes">
			<h3>Middle cable chest flys:</h3>
			3 sets, be careful and keep an eye on not overloading your shoulders.
		</div>

		<div id="textBoxes">
			<h3>Low cable chest flys:</h3>
			3 sets, be careful and keep an eye on not overloading your shoulders.
			<h3>Done!</h3></p>
		</div>

	</div>
	
	<div id="workoutsFlowVideo">
		<br>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/9YiT_U_-wvU" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/VmB1G1K7v94" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/8iPEnn-ltC8" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/51NIR38Iq-w" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/WEM9FCIPlxQ" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/M1N804yWA-8" frameborder="0" allowfullscreen></iframe>
	</div>

</div>