<%= render partial: 'navbar' %>

<div id="postflow", align="center">

	<br>
	<br>
	<h2>Välkommen till GOOD GAINS!</h2>

	

		<%= image_tag("profpicgray.jpg", width: 400) %>

		<br>
		<br>

		<p2>Introduktion</p2>
		<br>
		<br>

		<div id="introText">
		<p> Detta är en enkel guide som samlad kunskap från år av erfarenhet har lett till. Det är för dem som inte vet var de ska börja och vill ha det överlämnat till dem på en silverfat utan att det är allt för komplicerat. Men det här är långt ifrån allt och jag kommer möjligtvis lägga till några näringstips i framtiden. Med det vill jag även säga att kost och sömn är 70% eller mer av verktygen för att få sina resultat. Ha i åtanke att detta må ha fungerat för mig men alla är vi olika och du bör aldrig utöva de övningar du känner inte är rätt för dig. Även detta är en ständigt utvecklande träningsschema och är inte på något sätt perfekt. Men det här är ett bra ställe att börja, eller om du letar efter inspiration och blivit trött på dina egna rutiner. På denna sida fokuserar vi på ökad muskelmassa och hållbar träning för hälsan! Vilket är mycket enklare än du kanske tror.
		<br>
		Hoppas denna sidan kommer va till hjälp till dig och jag önskar lycka till!
		<br>
		</p>

		<cursive2>Filip Pennsäter</cursive2>

		</div>
		
	</div>

</div>
