
<div id="postflow", align="center">
	<h1>Welcome to GOOD GAINS!</h1>

	

		<%= image_tag("profpic.jpg", width: 400) %>

		<br>

		<p2>Warning: </p2>
		<p> If you do not want to look like a Greek god or be chased by women everywhere (ev men) then pass on to other forms of exercise (eg crossfit or spinning). On this page we focus on increased muscle mass!</p>

	</div>

</div>
