
<div id="postflow", align="center">

	<br>
	<br>
	<h2>Welcome to GOOD GAINS!</h2>

	

		<%= image_tag("profpicgray.jpg", width: 400) %>

		<br>
		<br>

		<p2>Introduction</p2>
		<br>
		<br>

		<div id="introText">
		<p> This is a simple guide which gathered knowledge from years of experience has led to. It's For those who don't know where to start and wanna have it handed to them on a silver platter without things being to complicated. However this is far from everything and I might add some nutritiontips in the future to. Bare in mind this has worked for me but everyone's different and you should never do an exercise if you feel it's not right for you. Even this is a constantly evolving workout routine. However this is a good place to start, or if you are looking for inspiration and tired of your own routines. On this page we focus on increased muscle mass and sustainable training for the health! Which is much simpler than you might think.
		<br>
		I hope this site will be of some use to you and I wish you good luck and good gains!
		<br>
		</p>

		<cursive2>Filip Pennsäter</cursive2>

		</div>

	</div>

</div>
