<div id="postflow">

	<h1>Shoulders</h1>
	<center><p2>Important:</p2>
	<p>All the sets where the number of repetitions are not mentioned are 8-9!</center>

	<div id="workoutsFlowText">

		<div id="textBoxes">
		<h3> Regular, front and rear shoulderflys: </h3>
		All three exercises should be run parallel/directly after each other in each set, 3x8 repetitions each. Start with low weights for 2 sets <br> <br> Then do 4 sets so heavy that you can still steadily get up the weights <u> WITHOUT SWINGING THEM UP </u> and hold for half a second at the top and go down slowly .
		</div>

		<div id="textBoxes">
		</div>
	

		<div id="textBoxes">
		</div>


		<div id="textBoxes">
			<h3>Shoulderpress:</h3>
			3-4 sets with medium high - high weight. (fast forward to 0:20)
		</div>

		<div id="textBoxes">
			<h3>Face pulls:</h3>
			3-4 sets.
			<h3>Done!</h3></p>
		</div>

	</div>

	<div id="workoutsFlowVideo">
		<br>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/3VcKaXpzqRo" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/BGu7vsyWWOs" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/ttvfGg9d76c" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/qEwKCR5JCog" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/rep-qVOkqgk" frameborder="0" allowfullscreen></iframe>
	</div>

</div>